.react-calendar {
  background-color: white;
  color: black;
  border-radius: 1rem;
  padding: 1rem;
}

.dark .react-calendar {
  background-color: #1f2937; 
  color: white;
}

.dark .react-calendar__tile--active,
.dark .react-calendar__tile--now {
  background-color: #4b5563 !important;
  color: white;
}

.dark .react-calendar__tile:enabled:hover {
  background-color: #374151 !important;
}

.highlight-complete {
  background-color: #10b981 !important;
  color: white !important;
}

.highlight-reminder {
  background-color: #f59e0b !important; 
  color: black !important;
}
