/* Aplica estilos base para el calendario */
.react-calendar {
  background-color: white;
  color: black;
  border-radius: 1rem;
  padding: 1rem;
}

/* Modo oscuro */
.dark .react-calendar {
  background-color: #1f2937; /* gray-800 */
  color: white;
}

.dark .react-calendar__tile--active,
.dark .react-calendar__tile--now {
  background-color: #4b5563 !important; /* gray-600 */
  color: white;
}

.dark .react-calendar__tile:enabled:hover {
  background-color: #374151 !important; /* gray-700 */
}

/* Highlight clases */
.highlight-complete {
  background-color: #10b981 !important; /* emerald-500 */
  color: white !important;
}

.highlight-reminder {
  background-color: #f59e0b !important; /* amber-500 */
  color: black !important;
}
